<mat-toolbar color="primary">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon> business</mat-icon>
  </button>
  <span>Pay Roll</span>
  <span class="example-spacer"></span>
 
  
</mat-toolbar>


<div class="container" style="padding-top: 100px;">  
<!-------------------------------------------Expansion Model------------------------------------------------------->
  <div class="row-expand" >
    <mat-accordion class="example-headers-align" >
    <mat-expansion-panel style="padding: 10px;" #mep="matExpansionPanel" >
      <mat-expansion-panel-header>
        <mat-panel-title>
       <h1><b>Businesses</b></h1>
        </mat-panel-title>
        <mat-panel-description>
          <div>
            <button style="padding:10px;" mat-raised-button ><mat-icon >filter_list</mat-icon> Filter</button>
            <button style="margin-left: 20px; padding:10px;" mat-raised-button color="primary" (click)="openDialog()" (click)="mep.toggle()">Add Business</button>
          </div>     
          </mat-panel-description>
      </mat-expansion-panel-header>
  
      <form [formGroup]="filterForm">
    <div style="display: flex; justify-content: space-between;">  

        <mat-form-field appearance="fill" >
          <mat-label>Name</mat-label>
          <!-- <input matInput> -->
          <input formControlName="name" matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
        </mat-form-field>
        
      <mat-form-field appearance="fill">
        <mat-label>Legal Name</mat-label>
        <input formControlName="lname" matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
        <!-- <input matInput> -->
      </mat-form-field>
      
      <mat-form-field appearance="fill">
        <mat-label>ABN</mat-label>
        <input formControlName="abn_Number" matInput (keyup)="applyFilter($event)" placeholder="Ex. 13456" #input>
        <!-- <input matInput> -->
      </mat-form-field>
      
      <mat-form-field appearance="fill">
        <mat-label>ACN</mat-label>
        <input formControlName="acn_Number" matInput (keyup)="applyFilter($event)" placeholder="Ex. 466546" #input>
        <!-- <input matInput> -->
      </mat-form-field>
   
     
  </div>
</form>


      <mat-action-row>
        <button mat-stroked-button color="primary" (click)="mep.toggle()">Hide Filters</button>
        <button mat-stroked-button color="primary" (click)="getAllBusiness()">Reset Filters</button>
        <button mat-stroked-button color="primary" (click)="clear()">Clear Filters</button>
      </mat-action-row>
    </mat-expansion-panel>
  </mat-accordion>
  </div>
<!----------------------------------- Table ------------------------------------------------------------------------->

<div class="row">

  <div style="margin-top: 10px;">
    <!-- <mat-form-field>
      <mat-label>Filter</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
    </mat-form-field> -->
    
    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource" matSort>
    
        ID Column
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
          <td mat-cell *matCellDef="let row"> {{row.id}} </td>
        </ng-container>
    
        <!-- Progress Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
          <td mat-cell *matCellDef="let row"> {{row.name}} </td>
        </ng-container>
    
        <!-- Name Column -->
        <ng-container matColumnDef="lname">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Legal Name </th>
          <td mat-cell *matCellDef="let row"> {{row.lname}} </td>
        </ng-container>
    
        <!-- Fruit Column -->
        <ng-container matColumnDef="abn_Number">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> ABN Number </th>
          <td mat-cell *matCellDef="let row"> {{row.abn_Number}} </td>
        </ng-container>
    
         <!-- Fruit Column -->
         <ng-container matColumnDef="acn_Number">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> ACN Number </th>
          <td mat-cell *matCellDef="let row"> {{row.acn_Number}} </td>
        </ng-container>

  <!-- Fruit Column -->
  <ng-container matColumnDef="action">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> s </th>
    <td mat-cell *matCellDef="let row"> 
      <button mat-icon-button color="primary" (click)="editBusiness(row)" >
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button color="warn" (click)="deletebusines(row.id)" >
        <mat-icon>delete</mat-icon>
      </button>
    </td>
  </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    
        <!-- Row shown when there is no matching data. -->
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
        </tr> 
      </table>
    
      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
    </div>
    
    

  </div>
</div>
</div>